#page-handle {
  padding-top:15px;
  border:0.02px solid white;
  display:flex;
  justify-content: center;
  color:black;
}

#page-handle span{
  font-weight: bolder;
  font-size:20px;
}

#page-handle button{
  margin:0 10px;
}

#loading{
  margin:auto;
  padding-bottom:10px;
  display:none;
  font-weight:bolder;
  height:50px;
  width:50px;
  background-color: black;
}